@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-foreground: #000;
  --color-brand-primary: #2e1a47;
  --color-brand-primary-foreground: #fff;
  --color-brand-secondary: #e7e2e8;
  --color-brand-secondary-foreground: #5d5c6a;
}
